In [3]:
import numpy as np
import pandas as pd

## Loading the Data-frame Books.csv

In [9]:
book_df = pd.read_csv('BX-Books.csv', sep = ";", on_bad_lines = 'skip', encoding = "latin-1")

C:\Users\H P\AppData\Local\Temp\ipykernel_14840\86723433.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book_df = pd.read_csv('BX-Books.csv', sep = ";", on_bad_lines = 'skip', encoding = "latin-1")

In [10]:
book_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [11]:
# To view any URL with their row no.

book_df.iloc[200]['Image-URL-L']

'http://images.amazon.com/images/P/3570300099.01.LZZZZZZZ.jpg'

In [12]:
book_df.shape

(271360, 8)

In [13]:
book_df.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [14]:
# Will select only the Large URL column because it's resolution is perfect

book_df = book_df[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-L']]

In [20]:
# Re-naming my column to use it easily

book_df.rename(columns = {"Book-Title":"Title",
                          "Book-Author":"Author",
                          "Year-Of-Publication":"Year",
                          "Image-URL-L":"Image_url"}, inplace = True)

In [21]:
book_df.head()

,ISBN,Title,Author,Year,Publisher,Image-url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

## Loading the Second Data-frame User.csv

In [22]:
user_df = pd.read_csv("BX-Users.csv", sep = ";", on_bad_lines = 'skip', encoding = 'latin-1')

In [23]:
user_df.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [24]:
user_df.shape

(278858, 3)

In [25]:
user_df.rename(columns = {"User-ID":"User_id"}, inplace = True)

In [26]:
user_df.head()

   User_id                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

## Loading the Third Data-frame Ratings.csv

In [27]:
rating_df = pd.read_csv('BX-Book-Ratings.csv', sep = ";", on_bad_lines = 'skip', encoding = 'latin-1')

In [28]:
rating_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [29]:
rating_df.shape

(1149780, 3)

In [31]:
rating_df.rename(columns = {"User-ID":"User_id",
                            "Book-Rating":"Book_rating"}, inplace = True)

In [33]:
rating_df.head()

   User_id        ISBN  Book_rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [34]:
# Printing the 3 dataframe shape

print(book_df.shape, user_df.shape, rating_df.shape, sep = '\n')

(271360, 6)
(278858, 3)
(1149780, 3)

In [36]:
# Let's store users who had atleast rated more than 200 books

x = rating_df['User_id'].value_counts() > 200
x

User_id
11676      True
198711     True
153662     True
98391      True
35859      True
          ...
119573    False
276706    False
276697    False
276679    False
276676    False
Name: count, Length: 105283, dtype: bool

In [38]:
x[x].shape

(899,)

In [39]:
# Index no. of users who had read more than 200 books

y = x[x].index
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       116122,  44296,  28634,  59727,  73681, 274808, 188951,   9856, 155916,
       268622],
      dtype='int64', name='User_id', length=899)

In [40]:
# creating another df who had read more than 200 books

rating_df = rating_df[rating_df['User_id'].isin(y)]
rating_df.head(10)

      User_id        ISBN  Book_rating
1456   277427  002542730X           10
1457   277427  0026217457            0
1458   277427  003008685X            8
1459   277427  0030615321            0
1460   277427  0060002050            0
1461   277427  0060006641           10
1462   277427  0060159685            0
1463   277427  0060177721            0
1464   277427  0060192704            0
1465   277427  0060542128            7

In [42]:
# Now joining rating_df with book_df

rating_with_book = rating_df.merge(book_df, on = 'ISBN')
rating_with_book.head()

,User_id,ISBN,Book_rating,Title,Author,Year,Publisher,Image-url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...

In [44]:
# Let's look how many no. of rating does every books got

num_of_rating = rating_with_book.groupby('Title')['Book_rating'].count().reset_index()
num_of_rating.head(10)

                                               Title  Book_rating
0   A Light in the Storm: The Civil War Diary of ...            2
1                              Always Have Popsicles            1
2               Apple Magic (The Collector's series)            1
3   Beyond IBM: Leadership Marketing and Finance ...            1
4   Clifford Visita El Hospital (Clifford El Gran...            1
5                                       Dark Justice            1
6                                           Deceived            1
7   Earth Prayers From around the World: 365 Pray...            3
8   Final Fantasy Anthology: Official Strategy Gu...            3
9   Flight of Fancy: American Heiresses (Zebra Ba...            1

In [45]:
# Changing Book_rating column name to no. of rating
num_of_rating.rename(columns = {"Book_rating":"no_of_rating"}, inplace = True)

In [46]:
num_of_rating.head()

                                               Title  no_of_rating
0   A Light in the Storm: The Civil War Diary of ...             2
1                              Always Have Popsicles             1
2               Apple Magic (The Collector's series)             1
3   Beyond IBM: Leadership Marketing and Finance ...             1
4   Clifford Visita El Hospital (Clifford El Gran...             1

In [47]:
# merging this with rating with book data frame

final_rating = rating_with_book.merge(num_of_rating, on = 'Title')
final_rating.head()

,User_id,ISBN,Book_rating,Title,Author,Year,Publisher,Image-url,no_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...,7
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...,1
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...,1
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...,13

In [48]:
# Let's take those books which got only 50 or above 50 ratings

final_rating = final_rating[final_rating['no_of_rating'] >= 50]
final_rating.head()

,User_id,ISBN,Book_rating,Title,Author,Year,Publisher,Image-url,no_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
13,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,133
15,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,http://images.amazon.com/images/P/0060934417.0...,108
18,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,108
24,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,79

In [49]:
final_rating.shape

(61853, 9)

In [50]:
# dropping the duplicates

final_rating.drop_duplicates(inplace = True)
final_rating.shape

(61853, 9)

In [51]:
final_rating.isna().sum()

User_id         0
ISBN            0
Book_rating     0
Title           0
Author          0
Year            0
Publisher       0
Image-url       0
no_of_rating    0
dtype: int64

In [52]:
# Let's create a Pivot table

book_pivot = final_rating.pivot_table(columns = 'User_id', index = 'Title', values = 'Book_rating')
book_pivot

User_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
# converting NaN to zero first will replace NaN

book_pivot.fillna(0, inplace = True)
book_pivot

User_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
# Will store the pivot book in sparse matrix

from scipy.sparse import csr_matrix

book_sparse = csr_matrix(book_pivot)

book_sparse

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 15226 stored elements and shape (742, 888)>

In [55]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [56]:
# Now will import Nearest Neighbor Algorithm

from sklearn.neighbors import NearestNeighbors

model = NearestNeighbors(algorithm = 'brute')

model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [66]:
book_pivot.iloc[560,:]

User_id
254       0.0
2276      0.0
2766      0.0
2977      0.0
3363      0.0
         ...
275970    0.0
277427    0.0
277478    0.0
277639    0.0
278418    0.0
Name: The General's Daughter, Length: 888, dtype: float64

In [ ]:
# Let's try to Recommend some books on the basis of distance and suggestion

distance, suggestion = model.kneighbors(book_pivot.iloc[560,:].values.reshape(1, -1), n_neighbors = 8)

In [68]:
distance

array([[ 0.        , 28.7923601 , 29.54657341, 30.09983389, 30.4466747 ,
        30.70830507, 31.09171022, 31.2409987 ]])

In [69]:
suggestion

array([[560, 184, 372, 199, 291, 185, 296,  35]])

In [70]:
# Now i want to know those names

for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['The General's Daughter', 'Exclusive', 'No Safe Place', 'Fat Tuesday',
       'Jacob Have I Loved', 'Executive Orders (Jack Ryan Novels)', 'Journey',
       'Absolute Power'],
      dtype='object', name='Title')

In [71]:
# Keeping book names in a different object

book_names = book_pivot.index
book_names

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Cry In The Night',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Title', length=742)

In [72]:
# Now i need the Image URL of the Df so that side by side i can showcase with book name

final_rating.head()

,User_id,ISBN,Book_rating,Title,Author,Year,Publisher,Image-url,no_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
13,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,133
15,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,http://images.amazon.com/images/P/0060934417.0...,108
18,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,108
24,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,79

In [76]:
int(np.where(book_pivot.index == "4 Blondes")[0][0])

3

In [78]:
# For Image URL

ids = int(np.where(final_rating['Title'] == "84 Charing Cross Road")[0][0])
ids

986

In [79]:
final_rating.iloc[ids]['Image-url']

'http://images.amazon.com/images/P/0140143505.01.LZZZZZZZ.jpg'

In [80]:
# extracting the book names

book_name = []
for book_id in suggestion:
    book_name.append(book_pivot.index[book_id])

In [81]:
book_name

[Index(['The General's Daughter', 'Exclusive', 'No Safe Place', 'Fat Tuesday',
        'Jacob Have I Loved', 'Executive Orders (Jack Ryan Novels)', 'Journey',
        'Absolute Power'],
       dtype='object', name='Title')]

In [ ]:
# Finding and storing indices of book titles

ids_index = []
for name in book_name[0]:
    ids = int(np.where(final_rating["Title"] == name)[0][0])
    ids_index.append(ids)

In [86]:
ids_index

[230, 812, 22, 140, 895, 200, 2283, 1369]

In [87]:
for idx in ids_index:
    url = final_rating.iloc[idx]["Image-url"]
    print(url)

http://images.amazon.com/images/P/0446364800.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0446604232.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0345404777.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0553478257.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0064403688.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0425158632.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0385316879.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0446519960.01.LZZZZZZZ.jpg

In [88]:
import pickle
pickle.dump(model, open('artifacts/model.pkl', 'wb'))
pickle.dump(book_name, open('artifacts/book_name.pkl', 'wb'))
pickle.dump(final_rating, open('artifacts/final_rating.pkl', 'wb'))
pickle.dump(book_pivot, open('artifacts/book_pivot.pkl', 'wb'))

## Testing Model

In [92]:
def recommended_book(book_name):
    book_id = int(np.where(book_pivot.index == book_name)[0][0])
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1, -1), n_neighbors = 8)

    for i in range(len(suggestion)):
        books = book_pivot.index[suggestion[i]]
        for j in books:
            if j == book_name:
                print(f"You Searched for: '{book_name}' \n")
                print("The Suggested books are: \n")
            else:
                print(j)

In [93]:
book_name = "84 Charing Cross Road"
recommended_book(book_name)

You Searched for: '84 Charing Cross Road'

The Suggested books are:

Exclusive
Alaska
Jacob Have I Loved
No Safe Place
The Little Friend
The Most Wanted
Long After Midnight